body{
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 955px;


    margin: 0 auto;
}


/*HEADER*/

.header{
    box-shadow: 0.0em 0.5em 5px rgba(191, 191, 191, 0.1);
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px 0;
    padding-bottom: 16px;
}

.btn{
    display: inline-block;

    border: 2px solid #E0E0E0;
    border-radius: 5%;

    padding: 7px 20px;


    color: #1D1D1D;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;

    text-decoration: none;
    transition: color .1s linear;
    }

.btn:hover{
    color: #57AD56;
}


/*NAVIGATION*/

.nav{
    display: flex;
    align-items: center;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;;


    text-decoration: none;
}


/*SEARCH*/

.search__input{
    outline:none;

    margin-top: 56px;
    padding-bottom: 5px;

    font-size: 16px;
    color: #626262;
    opacity: 50%;

    border: 0px;
    border-bottom: 1px solid #979797;

    width: 100%;
    }


/*INTRO*/

.intro{
    margin-top: 56px;
}

.intro__title{
    font-size: 22px;
    padding-bottom: 18px;
}

.intro__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 33.33333%;
}

.intro__card{
    margin-bottom: 16px;
    padding-bottom: 16px;

    transition: .1s linear;
}

.intro__card:hover{
    background-color: rgba(151, 151, 151, 0.04);
}

.intro__img{
    width: 308px;
    height: 256px;
}

.intro__name{
    margin-top: 16px;

    color: #1D1D1D;
}

.intro__price{
    margin-top: 6px;

    font-size: 14px;
    color: #626262;
}

.intro__time{
    margin-top: 6px;

    font-size: 13px;
    color: #1D1D1D;
}

/*FOOTER*/

.footer{
    margin-top: 80px;
    background-color: #262626;
}

.footer__logo{
    padding-top: 56px;
    padding-bottom: 40px;
}

.footer__line{
    padding-bottom: 40px;
    height: 2px;
}

hr{
    color: #fff;
    opacity: 40%;
    height: 1px;
}

.select__language{
  appearance: none;
  outline:none;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;

  padding: 0 1em 0 43px;
  margin: 0 0 33px 0;

  width: 225px;
  height: 40px;

  font-family: inherit;
  font-size: 13px;
  line-height: 15px;
  color: white;

  background: #3b3b3b;
}


.lang__img{
    position: absolute;

    padding: 12px 10px;
}

.lang__arrow{
    position: absolute;

    margin: 16px 205px;
}

.social{
    padding-bottom: 55px;
    padding-right: 97px;
}

.social__title{
    color: #fff;
    font-size: 16px;
    padding-bottom: 17px;
}

.green__color{
    color: #49A144;
}

.social__img{
    width: 24px;
    height: 24px;
}

.social__link{
    padding-right: 8px;
}


.info__ubereats{
    display: flex;
}


.about__ubereats{
    padding-right: 128px;
}

.about__text{
    font-size: 13px;

    padding-bottom: 23px;
}


.about__href{
    color: #fff;
}

.about__href:hover{
    color: #49A144;
}

.download{
    display: flex;
    justify-content: center;

    padding-bottom: 40px;
}

.download__img{
    padding-right: 40px;
}

.footer__copiryting{
    display: flex;
    justify-content: space-around;

    padding-bottom: 40px;
}

.copyrigting__text{
    color: #fff;
    font-size: 11px;
}








